## This template will be rendered as a confirmation screen after a session is saved
#if( ${pagedir-right-to-left} == "true" || ${pagedir-right-to-left} == "True" )
    #set($pagedirString = "rtl")
#else
    #set($pagedirString = "ltr")
#end

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML+ARIA 1.0//EN" "http://www.w3.org/WAI/ARIA/schemata/html4-aria-1.dtd">
<html lang="${screen.getLocale()}" dir="${pagedirString}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta http-equiv="content-type" content="text/html; charset=utf-8" >
        <meta http-equiv="content-language" content="${screen.getLocaleString()}" >
        <meta name="OPA-Release-Version" content="${version}" >
        <title>$screen.getTitle() - ${header-title}</title>
        <link rel="stylesheet" type="text/css" href="${context-root-path}${resource-request}/reset.css" >
        <script type="text/javascript">
            #parse("includes/javascript-utilities.vm")
        </script>
        <style type="text/css">
    <!--
    ${css-text}
    -->
        </style>
		
		<!-- This is application specific css	-->
		<link rel="stylesheet" type="text/css" href="${context-root-path}${resource-request}/application-specific.css">
		
	
       <script type="text/javascript" src="${context-root-path}${resource-request}/jquery-1.7.1.min.js"></script>
	   <script type="text/javascript">
            #parse("includes/fix-target-js.vm")
       </script>
	   

    </head>
    <body>
        <div id="wrapper">
            #parse("includes/header.vm")
            #set($show-empty-menu-bar = true)
            #parse("includes/menu-bar.vm")
            #parse("includes/status-bar.vm")

            <div id="content" role="main">
                <div id="content-wrapper">
                    <h1>$screen.getTitle()</h1>
                    <div id="investigation">
                        #parse ( "investigation/screen-messages.vm" )
                        #parse ( "investigation/form.vm" )
                    </div>
                </div>
            </div>
        </div>
    #parse("includes/footer.vm")
    </body>
</html>